name: Deploy

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  version:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      short-sha: ${{ steps.version.outputs.short-sha }}
      go-ldflags: ${{ steps.version.outputs.go-ldflags }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./go.mod
          cache: false
      - name: get version numbers
        id: version
        run: |
          echo "short-sha=$(echo ${{ github.sha }} | cut -c 1-7)" >> $GITHUB_OUTPUT
          echo "version=$(go run ./scripts/version.go)" >> $GITHUB_OUTPUT
          echo "go-ldflags=$(go run ./scripts/version.go -g)" >> $GITHUB_OUTPUT
      - name: print version outputs
        run: |
          echo "version: ${{ steps.version.outputs.version }}"
          echo "short-sha: ${{ steps.version.outputs.short-sha }}"
          echo "go-ldflags: ${{ steps.version.outputs.go-ldflags }}"
  push-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs: version
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - uses: grafana/shared-workflows/actions/build-push-to-dockerhub@0ee16409376c63f788c5b76d3fd218fd8b5669dc # main
        id: push
        with:
          repository: grafana/smtprelay
          platforms: linux/amd64
          push: "true"
          build-args: |-
            GIT_REVISION=${{ needs.version.outputs.short-sha }}
            VERSION=${{ needs.version.outputs.version }}
            "GO_LDFLAGS=${{ needs.version.outputs.go-ldflags }}"
          tags: |-
            ${{ needs.version.outputs.version }}
  deploy-dev:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    environment:
      name: dev
    needs: [version, push-docker]
    steps:
      - name: Trigger CD workflow
        uses: grafana/shared-workflows/actions/trigger-argo-workflow@0ee16409376c63f788c5b76d3fd218fd8b5669dc # main
        with:
          instance: ops
          namespace: hosted-grafana-cd
          workflow_template: smtprelay
          parameters: |
            dockertag=${{ needs.version.outputs.version }}
