name: docker-images

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@v4
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.3
        with:
          version: v0.58.2
          cache: true
      - name: Download Trivy DB
        run: |
          trivy fs --no-progress --download-db-only --db-repository public.ecr.aws/aquasecurity/trivy-db
      - run: make docker
      - name: Run Trivy vulnerability scanner (table output)
        # Use the trivy binary rather than the aquasecurity/trivy-action action
        # to avoid a few bugs
        run: |
          trivy image \
            --scanners vuln \
            --format table \
            --exit-code 1 \
            --ignore-unfixed \
            --pkg-types os,library \
            --severity CRITICAL,HIGH \
            --ignorefile .trivyignore \
            --skip-db-update \
            grafana/smtprelay
      - name: Run Trivy vulnerability scanner
        # Use the trivy binary rather than the aquasecurity/trivy-action action
        # to avoid a few bugs
        run: |
          trivy image \
            --scanners vuln \
            --format sarif \
            --output trivy-results.sarif \
            --ignore-unfixed \
            --pkg-types os,library \
            --skip-db-update \
            grafana/smtprelay
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
        if: always() && github.repository == 'grafana/smtprelay'
