name: docker-images

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  build-docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@e6c2c5e321ed9123bda567646e2f96565e34abe1 # v0.2.4
        with:
          version: v0.61.0
          cache: true
      - name: Download Trivy DB
        run: |
          trivy fs --no-progress --download-db-only --db-repository public.ecr.aws/aquasecurity/trivy-db
      - run: make docker
      - name: Run Trivy vulnerability scanner (table output)
        # Use the trivy binary rather than the aquasecurity/trivy-action action
        # to avoid a few bugs
        run: |
          trivy image \
            --scanners vuln \
            --format table \
            --exit-code 1 \
            --ignore-unfixed \
            --pkg-types os,library \
            --severity CRITICAL,HIGH \
            --ignorefile .trivyignore \
            --skip-db-update \
            grafana/smtprelay
      - name: Run Trivy vulnerability scanner
        # Use the trivy binary rather than the aquasecurity/trivy-action action
        # to avoid a few bugs
        run: |
          trivy image \
            --scanners vuln \
            --format sarif \
            --output trivy-results.sarif \
            --ignore-unfixed \
            --pkg-types os,library \
            --skip-db-update \
            grafana/smtprelay
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@4e94bd11f71e507f7f87df81788dff88d1dacbfb # v4.31.0
        with:
          sarif_file: 'trivy-results.sarif'
        if: always() && github.repository == 'grafana/smtprelay'
