name: docker-images

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  build-docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@3fb12ec12f41e471780db15c232d5dd185dcb514 # v0.2.5
        with:
          version: v0.61.0
          cache: true
      - name: Download Trivy DB
        run: |
          trivy fs --no-progress --download-db-only --db-repository public.ecr.aws/aquasecurity/trivy-db
      - run: make docker
      - name: Run Trivy vulnerability scanner (table output)
        # Use the trivy binary rather than the aquasecurity/trivy-action action
        # to avoid a few bugs
        run: |
          trivy image \
            --scanners vuln \
            --format table \
            --exit-code 1 \
            --ignore-unfixed \
            --pkg-types os,library \
            --severity CRITICAL,HIGH \
            --ignorefile .trivyignore \
            --skip-db-update \
            grafana/smtprelay
      - name: Run Trivy vulnerability scanner
        # Use the trivy binary rather than the aquasecurity/trivy-action action
        # to avoid a few bugs
        run: |
          trivy image \
            --scanners vuln \
            --format sarif \
            --output trivy-results.sarif \
            --ignore-unfixed \
            --pkg-types os,library \
            --skip-db-update \
            grafana/smtprelay
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        with:
          sarif_file: 'trivy-results.sarif'
        if: always() && github.repository == 'grafana/smtprelay'
