name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get App Credentials from Vault
        uses: grafana/shared-workflows/actions/get-vault-secrets@3616cd00d1e75efc2b41da6e51975c6eacb91d3c # 1.2.0
        id: get-secrets
        with:
          repo_secrets: |
            GITHUB_APP_ID=release-trigger:client-id
            GITHUB_APP_PRIVATE_KEY=release-trigger:private-key
          export_env: false
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_ID }}
          private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
