name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get App Credentials from Vault
        uses: grafana/shared-workflows/actions/get-vault-secrets@cfaf75904c175d984ea1e4f7b7be29429df9bf90 # 1.2.0
        id: get-secrets
        with:
          repo_secrets: |
            GITHUB_APP_ID=release-trigger:client-id
            GITHUB_APP_PRIVATE_KEY=release-trigger:private-key
          export_env: false
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: app-token
        with:
          app-id: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_ID }}
          private-key: ${{ fromJSON(steps.get-secrets.outputs.secrets).GITHUB_APP_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4.2.0
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
